@media only screen and (min-width: 992px) and (max-width:1170px) {
  .container {
    width: 970px;
  }

  .header-info,
  .header-social {
    width: 485px;
  }

  .nav-links {
    width: 770px;
  }

  .nav-links li {
    margin-left: 30px;
  }

  .section-title h4 {
    font-size: 60px;
    line-height: 72px;
  }

  .about-img {
    width: 440px;
  }

  .about-content {
    width: 530px;
  }

  .single-counter {
    width: 242px;
  }

  .single-service {
    width: 232px;
  }

  .single-room {
    width: 308px;
  }

  .single-hotel {
    width: 227px;
  }

  .single-testimonial {
    width: 460px;
    margin-inline-end: 25px;
  }

  .contact-content {
    width: 400px;
  }

  .contact-form {
    width: 555px;
  }

  .single-footer {
    width: 227px;
  }

  .copyright-content{
    width: 570px;
  }
  .copyright-policy {
    width: 400px;
  }

}

@media only screen and (min-width: 768px) and (max-width:991px) {
  .container {
    width: 750px;
  }

  .header-info,
  .header-social {
    width: 375px;
  }

  .logo {
    width: 140px;
  }

  .nav-links {
    width: 610px;
  }

  .nav-links li {
    margin-left: 10px;
  }
  .cover {
    height: 50vh;
  }
  .section-title h4 {
    font-size: 60px;
    line-height: 72px;
  }

  .about-img {
    width: 355px;
  }

  .about-img img,
  .about-content p {
    padding: 0;
  }

  .about-content {
    width: 395px;
  }

  

  .single-counter {
    width: 187px;
  }

  .single-service {
    width: 177px;
  }

  .single-room {
    width: 235px;
  }

  .single-hotel {
    width: 172px;
  }

  .single-testimonial {
    width: 355px;
    margin-left: 20px;
  }

  .contact-content {
    width: 300px;
  }

  .contact-form {
    width: 435px;
  }

  .single-footer {
    width: 172px;
  }

  .copyright-content {
    width: 490px;
  }

  .copyright-policy {
    width: 260px;
  }

  .copyright-policy a {
    margin-left: 5px;
  }
}

@media only screen and (max-width:767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .services-area .section-title h4,
  .room-area .section-title h4,
  .hotel-area .section-title h4,
  .testimonials-area .section-title h4 {
    font-size: 30px;
    line-height: 38px;
  }
  .contact-content .section-title h4,
  .contact-content h4 {
    font-size: 25px;
    line-height: 30px;
  }
  .about-content .section-title h4 {
    font-size: 30px;
    line-height: 36px;
  }

  .header-info {
    width: 100%;
    text-align: center;
  }

  .header-info a {
    display: block;
    margin: 10px;
  }

  .header-social {
    width: 100%;
    text-align: center;
  }

  .logo {
    width: 100%;
    text-align: center;
  }

  .nav-links {
    width: 100%;
    text-align: center;
  }

  .nav-links li {
    margin-left: 0;
    display: block;
    margin: 10px;
  }


  .section-title h4 {
    font-size: 40px;
    line-height: 58px;
  }

  .banner-content .bg-btn {
    padding: 10px;
  }

  .banner-content .btn {
    margin: 10px 0;
    padding: 10px;
  }

  .about-img {
    width: 100%;
    text-align: center;
  }

  .about-content,
  .single-service {
    width: 100%;
  }

  .single-counter {
    width: 100%;
    margin-bottom: 20px;
  }

  .single-room {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .single-hotel,
  .single-testimonial,
  .contact-content,
  .contact-form,
  .single-footer {
    width: 100%;
    padding: 10px 0;
  }

  .copyright-content,
  .copyright-policy {
    width: 100%;
    text-align: center;
  }

}